Repository openMetadataInitiative/openMINDS_instances, pull requests merged in 2024-10, with the labels that each got.

#79 Add new technique - Bootstrap aggregating
  instances/latest/terminologies/analysisTechnique/bootstrapAggregating.jsonld
  instances/v3.0/terminologies/analysisTechnique/bootstrapAggregating.jsonld
  instances/v4.0/terminologies/analysisTechnique/bootstrapAggregating.jsonld
Labels: Technique

#83 Add new techniques - isometric mapping
  instances/latest/terminologies/analysisTechnique/Isomap.jsonld
  instances/latest/terminologies/analysisTechnique/isometricMapping.jsonld
  instances/v3.0/terminologies/analysisTechnique/Isomap.jsonld
  instances/v3.0/terminologies/analysisTechnique/isometricMapping.jsonld
  instances/v4.0/terminologies/analysisTechnique/Isomap.jsonld
  instances/v4.0/terminologies/analysisTechnique/isometricMapping.jsonld
Labels: Technique

#82 New analysis techniques
  instances/latest/terminologies/analysisTechnique/multivariateAnalysis.jsonld
  instances/latest/terminologies/analysisTechnique/univariateAnalysis.jsonld
  instances/v3.0/terminologie/analysisTechnique/multivariateAnalysis.jsonld
  instances/v3.0/terminologies/analysisTechnique/univariateAnalysis.jsonld
  instances/v4.0/terminologies/analysisTechnique/multivariateAnalysis.jsonld
  instances/v4.0/terminologies/analysisTechnique/univariateAnalysis.jsonld
Labels: Technique

#85 Create HilbertTransform.jsonld
  instances/latest/terminologies/analysisTechnique/HilbertTransform.jsonld
  instances/v3.0/terminologies/analysisTechnique/HilbertTransform.jsonld
  instances/v4.0/terminologies/analysisTechnique/HilbertTransform.jsonld
Labels: Technique

#86 Create alloy.jsonld
  instances/latest/terminologies/chemicalMixtureType/alloy.jsonld
  instances/v3.0/terminologies/chemicalMixtureType/alloy.jsonld
  instances/v4.0/terminologies/chemicalMixtureType/alloy.jsonld
Labels: request

#84 First measuredSignalTypes
  instances/latest/terminologies/measuredSignalType/alphaActivity.jsonld
  instances/latest/terminologies/measuredSignalType/betaActivity.jsonld
  instances/latest/terminologies/measuredSignalType/gammaActivity.jsonld
  instances/latest/terminologies/terminology/measuredSignalType.jsonld
  instances/v3.0/terminologies/measuredSignalType/alphaActivity.jsonld
  instances/v3.0/terminologies/measuredSignalType/betaActivity.jsonld
  instances/v3.0/terminologies/measuredSignalType/gammaActivity.jsonld
  instances/v3.0/terminologies/terminology/measuredSignalType.jsonld
  instances/v4.0/terminologies/measuredSignalType/alphaActivity.jsonld
  instances/v4.0/terminologies/measuredSignalType/betaActivity.jsonld
  instances/v4.0/terminologies/measuredSignalType/gammaActivity.jsonld
  instances/v4.0/terminologies/terminology/measuredSignalType.jsonld
Labels: request

#87 New cell types - olfactory
  instances/latest/terminologies/cellType/mainOlfactoryBulbDeepTuftedNeuron.jsonld
  instances/latest/terminologies/cellType/mainOlfactoryBulbExternalTuftedNeuron.jsonld
  instances/latest/terminologies/cellType/mainOlfactoryBulbGranuleNeuron.jsonld
  instances/latest/terminologies/cellType/mainOlfactoryBulbMiddleTuftedNeuron.jsonld
  instances/latest/terminologies/cellType/mainOlfactoryBulbMitralNeuron.jsonld
  instances/latest/terminologies/cellType/mainOlfactoryBulbPeriglomerularNeuron.jsonld
  instances/latest/terminologies/cellType/mainOlfactoryBulbSuperficialTuftedNeuron.jsonld
  instances/latest/terminologies/cellType/mainOlfactoryBulbTuftedNeuron.jsonld
  instances/v3.0/terminologies/cellType/mainOlfactoryBulbDeepTuftedNeuron.jsonld
  instances/v3.0/terminologies/cellType/mainOlfactoryBulbExternalTuftedNeuron.jsonld
  instances/v3.0/terminologies/cellType/mainOlfactoryBulbGranuleNeuron.jsonld
  instances/v3.0/terminologies/cellType/mainOlfactoryBulbMiddleTuftedNeuron.jsonld
  instances/v3.0/terminologies/cellType/mainOlfactoryBulbMitralNeuron.jsonld
  instances/v3.0/terminologies/cellType/mainOlfactoryBulbPeriglomerularNeuron.jsonld
  instances/v3.0/terminologies/cellType/mainOlfactoryBulbSuperficialTuftedNeuron.jsonld
  instances/v3.0/terminologies/cellType/mainOlfactoryBulbTuftedNeuron.jsonld
  instances/v4.0/terminologies/cellType/mainOlfactoryBulbDeepTuftedNeuron.jsonld
  instances/v4.0/terminologies/cellType/mainOlfactoryBulbExternalTuftedNeuron.jsonld
  instances/v4.0/terminologies/cellType/mainOlfactoryBulbGranuleNeuron.jsonld
  instances/v4.0/terminologies/cellType/mainOlfactoryBulbMiddleTuftedNeuron.jsonld
  instances/v4.0/terminologies/cellType/mainOlfactoryBulbMitralNeuron.jsonld
  instances/v4.0/terminologies/cellType/mainOlfactoryBulbPeriglomerularNeuron.jsonld
  instances/v4.0/terminologies/cellType/mainOlfactoryBulbSuperficialTuftedNeuron.jsonld
  instances/v4.0/terminologies/cellType/mainOlfactoryBulbTuftedNeuron.jsonld
Labels: request

#164 Add content-type "text/vnd.citation-file-format"
  instances/latest/contentTypes/text_vnd.citation-file-format.jsonld
  instances/v3.0/contentTypes/text_vnd.citation-file-format
  instances/v4.0/contentTypes/text_vnd.citation-file-format.jsonld
Labels: ContentType
